@import '../../../../style/index';
@import '../cube';

@mixin block() {
  .block {
    @include cube(get-color(n6), 20px);

    height: 80px;
    width: 80px;
    display: inline-block;
    margin: 20px;
  }
}

:host {
  @include component;
  @include block;
}
