<header class="header">
  <span class="title">{{details.name}}</span>
  <span>
    <span class="ip">{{details.localIp}}</span><!--
 --><span class="location">{{details.location}}</span>
  </span>
</header>
<div class="details">
  <span class="detail"><span class="value">{{details.cores}}</span> cores</span>
  <span class="detail"><span class="value">{{details.memory}}gb</span> memory</span>
  <span class="detail"><span class="value">{{details.statuses.length}}</span> services</span>
</div>
<div class="tags">
  <div
    class="tag tag-{{tag.colornumber}}"
    *ngFor="let tag of details.tags | pgpOrderByOnSidebar : 'colornumber'; let i = index; trackBy: trackById">

    {{tag.name}}
  </div>
</div>
<div class="services">
  <div
    (click)="toggleStatus(status)"
    class="service service-{{status.status}}"
    *ngFor="let status of details.statuses; let i = index; trackBy: trackById">

    {{status.service.name}}
  </div>
</div>
