<div
  class="service"
  *ngFor="let service of services; let i = index; trackBy: trackById">

  <div class="title title--{{service.name.toLowerCase()}}">
    {{service.name}}

    <div
      (click)="toggleAllStatus(service, false)"
      class="toggle-all">

      Stop all
    </div>
    <div
      (click)="toggleAllStatus(service, true)"
      class="toggle-all">

      Start all
    </div>
  </div>
  <div>
    <div
      class="node node--{{status.status}}"
      (click)="toggleStatus(status)"
      *ngFor="let status of service.statuses; let i = index; trackBy: trackById">

      <span class="info info--cores">{{status.clusternode?.cores}}</span>
      <span class="info info--memory">{{status.clusternode?.memory}}</span>
      <span class="name">
        {{status.clusternode?.name}}
      </span>
      <span class="ip">{{status.clusternode?.localIp}}</span><!--
   --><span class="location">{{status.clusternode?.location}}</span>
    </div>
  </div>
</div>
