@import '../../../style/index';

$services__node-status-circle---size: 8px;

@mixin services() {
  @include font-family;

  border-radius: 2px;
  background: get-color(n0);
  display: block;
  margin: 10px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }

  .title {
    font-weight: 300;
    font-size: 24px;
    color: get-color(n9);
    padding: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid get-color(n3);

    .toggle-all {
      transition: all .26s ease;
      display: inline-block;
      float: right;
      font-size: 16px;
      line-height: 30px;
      padding: 0 6px;
      cursor: pointer;
      color: get-color(n8);
      margin-left: 10px;

      &:hover {
        color: get-color(n7);
      }
    }

    &:before {
      @include font-icon;

      display: inline-block;
      width: 18px;
      font-size: .9em;
      position: relative;
      top: 1px;
      padding-right: 6px;
      color: get-color(n8);
      box-shadow: 0 -1px 1px get-color(n0);
    }
    &--cassandra:before {
      @include font-icon-cassandra;
    }
    &--docker:before {
      @include font-icon-docker;
    }
    &--hdfs:before {
      @include font-icon-hdfs;
    }
    &--mesos:before {
      @include font-icon-mesos;
    }
    &--mongodb:before {
      @include font-icon-mongodb;
    }
  }

  .node {
    font-size: 14px;
    margin: 2px 0;
    display: table;
    cursor: pointer;

    &:before {
      content: '';
      display: inline-block;
      margin-right: 4px;
      position: relative;
      top: -1px;
      border-radius: $services__node-status-circle---size / 2;
      height: $services__node-status-circle---size;
      width: $services__node-status-circle---size;
    }
    @each $status, $color in $services-palette {
      #{&}--#{$status}:before {
        background: $color;
      }
    }

    .info {
      @include font-family(monospace);

      margin: 0 4px;
      color: get-color(n6);

      &:last-child {
        margin-right: 0;
      }
      &:before {
        @include font-icon;

        color: get-color(n4);
        font-size: .9em;
        display: inline-block;
        padding-right: 2px;
      }
      &--cores:before {
        @include font-icon-pc;
      }
      &--memory:before {
        @include font-icon-chip;
      }
    }

    .name {
      @include font-family(monospace);

      color: get-color(n10);
      display: inline-block;
      padding: 0 8px;
    }
    .ip {
      @include font-family(monospace);

      color: get-color(n8);
    }
    .location {
      @include font-family(monospace);

      color: get-color(n7);
      &:before {
        content: '@';
        color: get-color(n5);
        display: inline-block;
        padding: 0 2px;
      }
    }
  }
}

:host {
  .service {
    @include services();
  }
}
