<div class="dashboard">
  <div class="dashboard__heading">
    <h1>
      GraphQL - Test
    </h1>
    <div class="dashboard__heading-info">
      <span class="dashboard__heading-info-item dashboard__heading-info-item--author">
        Author: <span>{{projectAuthor}}</span>
      </span>
      <span class="dashboard__heading-info-item dashboard__heading-info-item--version">
        Version: <span>{{projectVersion}}</span>
      </span>
      <span class="dashboard__heading-icon">
        <a
          class="icon-github"
          target="_blank"
          [href]="githubRepositoryUrl">
        </a>
      </span>
    </div>
  </div>

  <pgp-sidebar
    class="dashboard__sidebar"
    [filterClassFn]="sidebarFilterClass()"
    [dictionary]="{
      'cores': ' cores',
      'memory': 'gb'
    }"
    [filterName]="{
      'statuses': 'service status'
    }"
    [filters]="attributeCounter | async"
    [orderByList]="[
      'name',
      'localIp',
      'cores',
      'memory',
      'location'
    ]"
    [viewByList]="[
      'cluster',
      'node',
      'service'
    ]"
    orderBy="name"
    viewBy="cluster"
    (viewByChange)="changeViewBy($event)"
    (searchChange)="searchFilter.next($event)"
    (orderByChange)="orderByFilter.next($event)"
    (appliedFiltersChange)="attributeFilter.next($event)">
  </pgp-sidebar>

  <div
    [@onShowAnimation]="'in'"
    *ngIf="(viewBy | async) === 'node'"
    class="dashboard__content">

    <pgp-nodes
      [nodes]="clusterNodeFilteredSubscription | async"
      (statusChange)="updateStatus($event)">
    </pgp-nodes>
  </div>
  <div
    [@onShowAnimation]="'in'"
    *ngIf="(viewBy | async) === 'service'"
    class="dashboard__content">

    <pgp-services
      [nodes]="clusterNodeFilteredSubscription | async"
      (statusChange)="updateStatus($event)"
      (statusAllChange)="updateAllStatus($event)">
    </pgp-services>
  </div>
  <div
    [@onShowAnimation]="'in'"
    *ngIf="(viewBy | async) === 'cluster'"
    class="dashboard__content dashboard__content--no-overflow dashboard__content--no-padding">

    <pgp-cluster
      [nodes]="clusterNodeFilteredSubscription | async"
      (statusChange)="updateStatus($event)">
    </pgp-cluster>
  </div>
</div>
