@mixin font-icon-font-face {
  @font-face {
    font-family: 'fonticon';
    src:
    url('/assets/fonts/fonticon.eot?4navij#iefix') format('embedded-opentype'),
    url('/assets/fonts/fonticon.ttf?4navij') format('truetype'),
    url('/assets/fonts/fonticon.woff?4navij') format('woff'),
    url('/assets/fonts/fonticon.svg?4navij#fonticon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}

@mixin font-icon {
  font-family: 'fonticon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@mixin font-icon-class {
  [class^="icon-"],
  [class*=" icon-"] {
    @include font-icon;
  }
}

@mixin font-icon-puzzle {
  content: "\e60a";
}
@mixin font-icon-pc {
  content: "\e627";
}
@mixin font-icon-chip {
  content: "\e62d";
}
@mixin font-icon-nodes {
  content: "\e63a";
}
@mixin font-icon-search {
  content: "\e036";
}
@mixin font-icon-filter {
  content: "\e616";
}
@mixin font-icon-mongodb {
  content: "\e623";
}
@mixin font-icon-cassandra {
  content: "\e62f";
}
@mixin font-icon-rabbitmq {
  content: "\e636";
}
@mixin font-icon-kafka {
  content: "\e645";
}
@mixin font-icon-flume {
  content: "\e646";
}
@mixin font-icon-parquet {
  content: "\e649";
}
@mixin font-icon-redis {
  content: "\e64b";
}
@mixin font-icon-hdfs {
  content: "\e901";
}
@mixin font-icon-hbase {
  content: "\e919";
}
@mixin font-icon-druid {
  content: "\e91a";
}
@mixin font-icon-hive {
  content: "\e91b";
}
@mixin font-icon-mesos {
  content: "\e91f";
}
@mixin font-icon-solr {
  content: "\e929";
}
@mixin font-icon-github {
  content: "\e92a";
}
@mixin font-icon-docker {
  content: "\e92b";
}


@mixin font-icon-includes {
  @include font-icon-class;

  .icon-puzzle:before {
    @include font-icon-puzzle;
  }
  .icon-pc:before {
    @include font-icon-pc;
  }
  .icon-chip:before {
    @include font-icon-chip;
  }
  .icon-nodes:before {
    @include font-icon-nodes;
  }
  .icon-search:before {
    @include font-icon-search;
  }
  .icon-filter:before {
    @include font-icon-filter;
  }
  .icon-mongodb:before {
    @include font-icon-mongodb;
  }
  .icon-cassandra:before {
    @include font-icon-cassandra;
  }
  .icon-rabbitmq:before {
    @include font-icon-rabbitmq;
  }
  .icon-kafka:before {
    @include font-icon-kafka;
  }
  .icon-flume:before {
    @include font-icon-flume;
  }
  .icon-parquet:before {
    @include font-icon-parquet;
  }
  .icon-redis:before {
    @include font-icon-redis;
  }
  .icon-hdfs:before {
    @include font-icon-hdfs;
  }
  .icon-hbase:before {
    @include font-icon-hbase;
  }
  .icon-druid:before {
    @include font-icon-druid;
  }
  .icon-hive:before {
    @include font-icon-hive;
  }
  .icon-mesos:before {
    @include font-icon-mesos;
  }
  .icon-solr:before {
    @include font-icon-solr;
  }
  .icon-github:before {
    @include font-icon-github;
  }
  .icon-docker:before {
    @include font-icon-docker;
  }
}
