h1 {
  font-size: 2em;
  font-weight: 300;
  padding-bottom: 10px;
}
strong {
  font-weight: 500;
  display: inline-block;
  margin: 20px 0 6px;

  &:after {
    opacity: .2;
    content: ' - ';
  }
}
span {
  font-weight: 300;
}
div > div {
  font-family: monospace;
  font-size: 10px;
}
.status {
  $stopped: #ff0000;
  $waiting: #ffa500;
  $started: #008000;

  &--stopped {
    color: $stopped;
  }
  &--waiting {
    color: $waiting;
  }
  &--started {
    color: $started;
  }
}

:host {
  display: block;
  padding: 20px;
}
