$tags-palette: (
  #0075e2,
  #06acf1,
  #0ce3ff,
  #95fed0,
  #bbee9e,
  #e0de6d,
  #f0c17f,
  #ffa391,
  #e78166,
  #cf5f3b,
);

$status-palette: (
  STARTED: #88b060,
  WAITING: #ff8900,
  STOPPED: #e23b2b,
);

$services-palette: (
  mongodb: #725f3c,
  mesos: #3068b2,
  hdfs: #fff359,
  docker: #00bfff,
  cassandra: #aaecde,
);
