<div class="title">
  Order by
</div>
<div class="attributes">
  <div
    class="attribute attribute--order"
    *ngFor="let attr of orderByList; let i = index">

    <label
      class="checkbox"
      (click)="orderBy = attr; orderByChange.emit(attr)">

      <span
        class="checkbox-element checkbox-element--circle"
        [ngClass]="{
          'checkbox-element--selected': orderBy === attr
        }">
      </span>

      <span class="label">
        {{attr}}
      </span>
    </label>
  </div>
</div>
<div class="title">
  Filter
</div>
<div *ngFor="let filter of filters; let i = index">
  <div class="filter">
    {{filterName[filter.key] || filter.key}}
  </div>
  <div class="attributes">
    <div
      class="attribute"
      *ngFor="let attr of filter.value | pgpKeys | pgpOrderByOnSidebar : 'key'; let i = index">

      <label class="checkbox">
        <input
          class="checkbox-input"
          type="checkbox"
          [ngModel]="appliedFilters[filter.key][attr.key]"
          (ngModelChange)="appliedFilters[filter.key][attr.key] = $event; onChangeFilter()">
        <span class="checkbox-element"></span>

        <span class="number">
          {{attr.value}}
        </span>
        <span class="label {{filterClassFn(filter.key, attr.key)}}">
          {{attr.key}}{{dictionary[filter.key]}}
        </span>
      </label>
    </div>
  </div>
</div>
